@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-action {
    display: flex;
    margin-top: 10px /* 24px */;
    justify-content: flex-end;
}
.rotate_text {
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}